# Xcode
**/*/xcuserdata/

# VS Code
.vscode

# Python
*.pyc

# Clojure
.lein-failures
.lein-repl-history
target/

# JS
node_modules/

# Java/Kotlin
.gradle/
build/
*.class
*.classpath
kotlin/*/.settings
kotlin/*/bin
.project
.cache
*.out*

# Exercism
**/*/.exercism
